@font-face {
    font-family: LexendDeca;
    src: url(assets/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}
@font-face {
    font-family: BigShouldersDisplay;
    src: url(assets/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf);
}

div .card_title {
    font-family: BigShouldersDisplay;
    font-weight: 700;
}
div {
    font-family: LexendDeca;
    font-weight: 400;
}